#Expects the script to be in /etc/turn-on-3v3.py
#Runs as root
#10 second timeout
#5 second restart delay

[Unit]
Description=Turn on 3v3 power for Neurobionics interface board on boot
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/turn-on-3v3.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
TimeoutStopSec=10
KillMode=mixed
User=root
Group=root

[Install]
WantedBy=multi-user.target